City: Delhi
Pollutants: all
Study period: 1/1/2015 - 12/31/2016
Dataset: Climate, Pollutants
Resources: Kaggle.com, API: OpenAQ, Archived CSV files

In [1]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [3]:
climate_file = "./Dataset/Cleaned Data - Delhi - 2015-2016.csv"
climate_df = pd.read_csv(climate_file)
climate_df.head()

       date  meantemp  humidity  wind_speed  meanpressure
0  1/1/2015    14.750    72.000      0.9250      1017.500
1  1/2/2015    14.875    96.625      3.0125      1017.875
2  1/3/2015    15.125    92.000      0.9250      1017.375
3  1/4/2015    14.125    78.750      9.5125      1019.625
4  1/5/2015    14.000    69.375     15.0500      1016.000

In [ ]:
pollutant_file = "./Dataset/LicensePremise.csv"
pollutant_df = pd.read_csv(pollutant_file)
pollutant_df.head()

In [ ]:
#Dataset Cleaning

#Merge data

#find the mean of data/perday

Create database connection

In [ ]:
connection_string = "postgres:postgres@localhost:5432/Delhi_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
engine.table_names()

Load DataFrames into database

In [ ]:
premise_transformed.to_sql(name='premise', con=engine, if_exists='append', index=True)

In [ ]:
county_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)

Visualization of Dataset - Bar Chart

In [ ]:
merged_df= pd.merge(climate_df, pollutant_df, how="outer", on="date")
merged_df.head()

In [ ]:
plt.bar(merged_df["humidity", "parameters"], title="not sure yet", color="red")